body {
  background: #eee !important;
}
.container {
  margin-top: 20px;
}
.mr-auto a {
  color: #fff;
  padding: 0px 5px 0px 5px;
}
.mr-auto a:hover {
  color: #fff;
  text-decoration: none;
  color: #eee;
}
